
<h2>Changing This thing in a good variation

    {% if block.settings.selectedIcon == "icon-arrow" %}
        {% render "icon-arrow" %}
    {% else %}
        {% render "icon-arrow-circle" %}
    {% endif %}

</h2>


<input type="hidden" id="faqShortcode" value="{{ block.settings.shortcode }}" />

<script>
  // Accessing Liquid variables in JavaScript
  let available_ids = [];



  // Modify the DOM based on the dynamic content
  document.addEventListener('DOMContentLoaded', async function() {
        const faqShortcode =  document.querySelector("#faqShortcode");
        console.log("Main Value" , faqShortcode.value);

        const response = await fetch("apps/faq-anywhere-proxy/available-groups-id");
        available_ids = await response.json();
        console.log("Our APi Data", available_ids);

        // If anything exits from the merchant end
        if(faqShortcode.value !== '') {
            if(available_ids.includes(Number(faqShortcode.value))){
                const groupResponse = await fetch(`apps/faq-anywhere-proxy/group/${faqShortcode.value}`);
                const ourValidGroupInfo = await groupResponse.json();
                console.log('ourValidGroupInfo' , ourValidGroupInfo);
            } else {
                alert('Please enter a valid Group id');
            }
        }

        faqShortcode.addEventListener('change', function(event) {
            // Check if the pressed key is Enter (key code 13)
            console.log(event.target.value);
        });
  });
</script>

{% schema %}
{
  "name": "Faq",
  "target": "section",
  "settings": [
    {
      "type": "header",
      "content": "Icon Dropdown Configuration"
    },
    {
      "type": "select",
      "label": "Select Icon",
      "id": "selectedIcon",
      "options": [
        {
          "value": "icon-arrow",
          "label": "Arrow Icon Down"
        },
        {
          "value": "icon-arrow-circle",
          "label": "Arrow Icon Down Circle"
        }
      ],
      "default": "icon-arrow",
      "info": "Choose a dropdown icon."
    },
    {
      "type": "text",
      "label": "Faq Shortcode",
      "id": "shortcode"
    }
  ]
}
{% endschema %}

